<!-- Page title -->
<section>
  <h1 class="mt-10 lg:mt-20 xl:mt-24 mb-6 lg:mb-10 text-2xl lg:text-4xl leading-10 font-semibold">Elegant Dashboard
    Kit - CMS Dashboard Theme</h1>
  <div class="grid lg:grid-cols-3 gap-y-10 md:gap-y-20 gap-x-8">
    <div class="lg:col-span-2 flex flex-col gap-y-5">
      <img class="shadow-xs rounded-xl w-full" src="/assets/img/theme-single.png"
        alt="Elegant Dashboard Kit - CMS Dashboard Theme">
      <div class="grid grid-cols-2 gap-x-5">
        <a class="flex justify-center items-center gap-x-2 rounded-md shadow py-3 text-center bg-white text-base leading-6 text-gray-500 font-medium"
          href="##"><span>Live preview</span>
          <svg width="25" height="25" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.5 17.5L17.5 7.5" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M7.5 7.5H17.5V17.5" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </a>
        <a class="inline-block rounded-md shadow py-3 text-center bg-green-500 text-base leading-6 text-white font-medium"
          href="##">Documentation</a>
      </div>
      <p class="text-base text-gray-500 leading-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod
        tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat.</p>
      <h3 class="text-2xl leading-8 font-semibold text-gray-500">Changelog</h3>
      <p class="text-base text-gray-500 leading-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.</p>
      <div class="grid gap-y-2  text-gray-500">
        <h4 class="text-lg leading-7 font-bold">1.0.0 - 01.07.2021</h4>
        <ul class="list-disc pl-4 grid gap-y-2">
          <li><a href="##">Initial release</a></li>
          <li><a href="##">Initial release</a></li>
        </ul>
      </div>
    </div>
    <div class="lg:col-span-1">
      <div class="rounded-xl p-6 bg-blue-100 text-gray-500">
        <p class="mb-5 text-base leading-6 text-gray-500 font-medium">This product inluced:</p>
        <ul class="flex gap-x-5 mb-10">
          <li>
            <a class="rounded-full w-12 h-12 flex justify-center items-center bg-white shadow" href="##"> <svg
                width="17" height="24" viewbox="0 0 17 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path
                    d="M4.40081 23.1565C6.60837 23.1565 8.40001 21.4424 8.40001 19.3304V15.5043H4.40081C2.19325 15.5043 0.401611 17.2184 0.401611 19.3304C0.401611 21.4424 2.19325 23.1565 4.40081 23.1565Z"
                    fill="#0ACF83" />
                  <path
                    d="M0.401611 11.6783C0.401611 9.56626 2.19325 7.85217 4.40081 7.85217H8.40001V15.5043H4.40081C2.19325 15.5043 0.401611 13.7903 0.401611 11.6783Z"
                    fill="#A259FF" />
                  <path
                    d="M0.402954 4.02608C0.402954 1.91408 2.1946 0.199997 4.40215 0.199997H8.40135V7.85217H4.40215C2.1946 7.85217 0.402954 6.13808 0.402954 4.02608Z"
                    fill="#F24E1E" />
                  <path
                    d="M8.40002 0.199997H12.3992C14.6068 0.199997 16.3984 1.91408 16.3984 4.02608C16.3984 6.13808 14.6068 7.85217 12.3992 7.85217H8.40002V0.199997Z"
                    fill="#FF7262" />
                  <path
                    d="M16.3984 11.6783C16.3984 13.7903 14.6068 15.5043 12.3992 15.5043C10.1917 15.5043 8.40002 13.7903 8.40002 11.6783C8.40002 9.56626 10.1917 7.85217 12.3992 7.85217C14.6068 7.85217 16.3984 9.56626 16.3984 11.6783Z"
                    fill="#1ABCFE" />
                </g>
                <defs>
                  <clippath id="clip0">
                    <rect width="16" height="22.9565" fill="white" transform="translate(0.400024 0.199997)" />
                  </clippath>
                </defs>
              </svg></a>
          </li>
          <li>
            <a class="rounded-full w-12 h-12 flex justify-center items-center bg-white shadow" href="##">
              <svg width="31" height="20" viewbox="0 0 31 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.4 0.824478C11.3467 0.824478 8.81331 2.86353 7.80001 6.9415C9.32001 4.90245 11.0933 4.13782 13.12 4.64762C14.2763 4.93841 15.1028 5.78249 16.0176 6.71665C17.5079 8.23862 19.2327 10 23 10C27.0533 10 29.5867 7.96096 30.6 3.88299C29.08 5.92204 27.3067 6.68666 25.28 6.17687C24.1237 5.88607 23.2972 5.042 22.3824 4.10784C20.8921 2.58587 19.1674 0.824478 15.4 0.824478ZM7.80001 10C3.74672 10 1.21331 12.0391 0.200012 16.117C1.72001 14.078 3.49331 13.3134 5.52001 13.8231C6.67628 14.1139 7.50278 14.958 8.41763 15.8922C9.90794 17.4142 11.6327 19.1755 15.4 19.1755C19.4533 19.1755 21.9867 17.1365 23 13.0585C21.48 15.0976 19.7067 15.8622 17.68 15.3524C16.5237 15.0616 15.6972 14.2175 14.7824 13.2834C13.2921 11.7614 11.5674 10 7.80001 10Z"
                  fill="url(#paint0_linear)" />
                <defs>
                  <lineargradient id="paint0_linear" x1="-0.6445" y1="6.69682" x2="25.6902" y2="21.789"
                    gradientunits="userSpaceOnUse">
                    <stop stop-color="#2298BD" />
                    <stop offset="1" stop-color="#0ED7B5" />
                  </lineargradient>
                </defs>
              </svg>

            </a>
          </li>
          <li>
            <a class="rounded-full w-12 h-12 flex justify-center items-center bg-white shadow" href="##">
              <svg width="21" height="15" viewbox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.2108 8.61714C17.5116 8.62109 16.9062 8.78902 16.3983 9.03906C16.2108 8.66796 16.0233 8.34371 15.9921 8.10156C15.957 7.82031 15.914 7.6484 15.957 7.3125C15.9999 6.97653 16.1952 6.49997 16.1952 6.46091C16.1913 6.42575 16.1522 6.25388 15.7499 6.24997C15.3476 6.24606 14.9999 6.32809 14.9609 6.43356C14.9218 6.53903 14.8437 6.78122 14.7929 7.03121C14.7226 7.3984 13.9882 8.69917 13.5702 9.38277C13.4335 9.11714 13.3163 8.88277 13.2929 8.69523C13.2577 8.41402 13.2147 8.24211 13.2577 7.90621C13.3007 7.57024 13.496 7.09371 13.496 7.05465C13.4921 7.0195 13.4531 6.84762 13.0507 6.84372C12.6484 6.83981 12.3008 6.92184 12.2617 7.02731C12.2226 7.13278 12.1797 7.38278 12.0937 7.62496C12.0117 7.86715 11.0351 10.039 10.7812 10.6054C10.6523 10.8945 10.539 11.1249 10.457 11.2812C10.3749 11.4374 10.4531 11.2929 10.4453 11.3085C10.3749 11.4413 10.3359 11.5156 10.3359 11.5156V11.5195C10.2812 11.6172 10.2226 11.7109 10.1952 11.7109C10.1757 11.7109 10.1366 11.4492 10.203 11.0898C10.3476 10.3359 10.6991 9.16015 10.6953 9.11718C10.6953 9.09765 10.7616 8.89058 10.4687 8.78515C10.1835 8.67968 10.082 8.85546 10.0585 8.85546C10.0351 8.85546 10.0155 8.91796 10.0155 8.91796C10.0155 8.91796 10.3319 7.59379 9.41007 7.59379C8.83195 7.59379 8.03508 8.22269 7.64055 8.79691C7.39055 8.93363 6.8593 9.22265 6.29681 9.53128C6.08196 9.64847 5.85931 9.77347 5.64837 9.88675L5.60544 9.83979C4.48826 8.64839 2.42187 7.80465 2.5078 6.20309C2.53905 5.62107 2.74218 4.08592 6.47657 2.22655C9.53515 0.703122 11.9843 1.12109 12.4101 2.05077C13.0156 3.37889 11.1015 5.84763 7.92187 6.20309C6.71094 6.33981 6.07419 5.87106 5.91407 5.69528C5.74611 5.51169 5.72267 5.50388 5.66017 5.53903C5.55861 5.59372 5.62111 5.75778 5.66017 5.85544C5.75392 6.10153 6.14454 6.53903 6.8086 6.75778C7.39059 6.94918 8.81249 7.05465 10.5312 6.39059C12.457 5.6445 13.9609 3.5742 13.5195 1.84374C13.0703 0.0820316 10.1484 -0.496091 7.38672 0.484373C5.74216 1.07031 3.96092 1.98437 2.67968 3.18358C1.15625 4.60545 0.914065 5.84763 1.01563 6.36325C1.37113 8.20308 3.90623 9.4023 4.92185 10.289C4.87107 10.3163 4.8242 10.3437 4.78123 10.3671C4.27342 10.6171 2.33984 11.6288 1.85547 12.6991C1.30859 13.91 1.9414 14.7812 2.36327 14.8984C3.66795 15.2616 5.00388 14.6093 5.72654 13.5351C6.44524 12.4609 6.35934 11.0664 6.02731 10.4296L6.01556 10.4062L6.41399 10.1718C6.67184 10.0195 6.92575 9.87886 7.14836 9.75772C7.0234 10.0976 6.93352 10.4999 6.88668 11.0858C6.832 11.7734 7.11325 12.664 7.48434 13.0155C7.6484 13.1678 7.84371 13.1718 7.9648 13.1718C8.39449 13.1718 8.5898 12.8163 8.80464 12.3905C9.07027 11.871 9.30464 11.2694 9.30464 11.2694C9.30464 11.2694 9.01167 12.8983 9.81245 12.8983C10.1054 12.8983 10.3984 12.5194 10.5312 12.3241V12.328C10.5312 12.328 10.539 12.3163 10.5546 12.289C10.571 12.2647 10.5867 12.24 10.6015 12.2148V12.207C10.7187 12.0038 10.9804 11.539 11.371 10.7695C11.8749 9.7773 12.3593 8.53511 12.3593 8.53511C12.3593 8.53511 12.4062 8.8398 12.5507 9.3398C12.6366 9.63671 12.8241 9.96089 12.9686 10.2773C12.8515 10.4414 12.7811 10.5351 12.7811 10.5351L12.785 10.539C12.6913 10.664 12.5858 10.7969 12.4765 10.9297C12.0781 11.4062 11.6015 11.9492 11.539 12.1055C11.4648 12.289 11.4804 12.4258 11.6249 12.5352C11.7304 12.6133 11.9179 12.6289 12.1171 12.6133C12.4765 12.5898 12.7265 12.5 12.8515 12.4453C13.0468 12.375 13.2695 12.2695 13.4843 12.1133C13.8749 11.8242 14.1132 11.4141 14.0898 10.8672C14.078 10.5664 13.9804 10.2696 13.8593 9.98831C13.8945 9.93753 13.9297 9.88671 13.9648 9.83206C14.582 8.92968 15.0585 7.93754 15.0585 7.93754C15.0585 7.93754 15.1054 8.24222 15.2499 8.74222C15.3241 8.99613 15.4726 9.27351 15.6054 9.54694C15.0273 10.0196 14.664 10.5665 14.539 10.9258C14.3085 11.5899 14.4882 11.8907 14.828 11.961C14.9803 11.9922 15.1991 11.9219 15.3632 11.8516C15.5663 11.7852 15.8124 11.6719 16.039 11.504C16.4296 11.2149 16.8046 10.8126 16.7851 10.2696C16.7733 10.0196 16.7069 9.77351 16.6171 9.53913C17.1093 9.33601 17.746 9.21882 18.5546 9.31648C20.2929 9.5196 20.6366 10.6055 20.5702 11.0587C20.5038 11.5118 20.1406 11.7618 20.0194 11.8399C19.8983 11.9141 19.8593 11.9415 19.871 11.9962C19.8866 12.0782 19.9413 12.0743 20.0468 12.0587C20.1913 12.0352 20.9608 11.6876 20.9921 10.8517C21.0389 9.77733 20.0194 8.60546 18.2108 8.61714ZM4.80467 13.1367C4.23045 13.7656 3.42186 14.0038 3.07811 13.8007C2.70702 13.5859 2.85151 12.6601 3.55858 11.9921C3.98826 11.5859 4.54685 11.2109 4.91404 10.9804C4.99607 10.9296 5.12107 10.8555 5.26951 10.7656C5.29294 10.75 5.30857 10.7421 5.30857 10.7421C5.33591 10.7265 5.36716 10.707 5.39841 10.6874C5.66013 11.6406 5.41013 12.4765 4.80467 13.1367ZM9.00386 10.2812C8.80464 10.7695 8.38277 12.0234 8.12886 11.9531C7.91008 11.8945 7.7773 10.9453 8.08586 10.0078C8.24211 9.53507 8.57414 8.97261 8.76945 8.75382C9.08589 8.40226 9.4296 8.28508 9.51558 8.42961C9.61714 8.61714 9.12886 9.97651 9.00386 10.2812ZM12.4687 11.9374C12.3827 11.9804 12.3046 12.0117 12.2695 11.9883C12.2421 11.9726 12.3046 11.914 12.3046 11.914C12.3046 11.914 12.7382 11.4492 12.91 11.2344C13.0077 11.1094 13.1249 10.9649 13.2499 10.8008V10.8476C13.2499 11.4101 12.7109 11.7851 12.4687 11.9374ZM15.1405 11.3281C15.078 11.2812 15.0859 11.1367 15.2968 10.6835C15.3788 10.5039 15.5663 10.2031 15.8905 9.91792C15.9296 10.0351 15.953 10.1483 15.9491 10.2539C15.9452 10.957 15.4452 11.2187 15.1405 11.3281Z"
                  fill="#CF649A" />
              </svg>

            </a>
          </li>
        </ul>
        <a class="flex justify-center items-center gap-x-2 rounded-md shadow py-3 mb-4 text-center bg-white text-base leading-6 text-gray-500 font-medium"
          href="##"><span>Source code</span>
          <svg width="25" height="25" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.5 17.5L17.5 7.5" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M7.5 7.5H17.5V17.5" stroke="#6B7280" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </a>
        <a class="inline-block rounded-md shadow py-3 mb-9 w-full text-center bg-green-500 text-base leading-6 text-white font-medium"
          href="##">Download</a>
        <p class="mb-4 text-base font-medium">Details:</p>
        <ul class="font-medium grid gap-y-4 text-xs xl:text-base">
          <li>
            <a class="flex items-center gap-x-1" href="##">
              <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M17.7071 9.29289C18.0976 9.68342 18.0976 10.3166 17.7071 10.7071L10.7071 17.7071C10.3166 18.0976 9.68342 18.0976 9.29289 17.7071L2.29289 10.7071C2.0976 10.5118 1.99997 10.2558 2 9.99988V5C2 3.34315 3.34315 2 5 2H10.0003C10.2561 2.00007 10.5119 2.0977 10.7071 2.29289L17.7071 9.29289ZM5 6C5.55228 6 6 5.55228 6 5C6 4.44772 5.55228 4 5 4C4.44772 4 4 4.44772 4 5C4 5.55228 4.44772 6 5 6Z"
                  fill="#64748B" />
              </svg>

              Released: <span>14 days ago</span></a>
          </li>
          <li>
            <a class="flex items-center gap-x-1" href="##">
              <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M17.7071 9.29289C18.0976 9.68342 18.0976 10.3166 17.7071 10.7071L10.7071 17.7071C10.3166 18.0976 9.68342 18.0976 9.29289 17.7071L2.29289 10.7071C2.0976 10.5118 1.99997 10.2558 2 9.99988V5C2 3.34315 3.34315 2 5 2H10.0003C10.2561 2.00007 10.5119 2.0977 10.7071 2.29289L17.7071 9.29289ZM5 6C5.55228 6 6 5.55228 6 5C6 4.44772 5.55228 4 5 4C4.44772 4 4 4.44772 4 5C4 5.55228 4.44772 6 5 6Z"
                  fill="#64748B" />
              </svg>

              Updated: <span>2 days ago</span></a>
          </li>
          <li>
            <a class="flex items-center gap-x-1" href="##">
              <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M17.7071 9.29289C18.0976 9.68342 18.0976 10.3166 17.7071 10.7071L10.7071 17.7071C10.3166 18.0976 9.68342 18.0976 9.29289 17.7071L2.29289 10.7071C2.0976 10.5118 1.99997 10.2558 2 9.99988V5C2 3.34315 3.34315 2 5 2H10.0003C10.2561 2.00007 10.5119 2.0977 10.7071 2.29289L17.7071 9.29289ZM5 6C5.55228 6 6 5.55228 6 5C6 4.44772 5.55228 4 5 4C4.44772 4 4 4.44772 4 5C4 5.55228 4.44772 6 5 6Z"
                  fill="#64748B" />
              </svg>

              Version: <span>1.0.0</span></a>
          </li>
          <li>
            <a class="flex items-center gap-x-1" href="##">
              <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M17.7071 9.29289C18.0976 9.68342 18.0976 10.3166 17.7071 10.7071L10.7071 17.7071C10.3166 18.0976 9.68342 18.0976 9.29289 17.7071L2.29289 10.7071C2.0976 10.5118 1.99997 10.2558 2 9.99988V5C2 3.34315 3.34315 2 5 2H10.0003C10.2561 2.00007 10.5119 2.0977 10.7071 2.29289L17.7071 9.29289ZM5 6C5.55228 6 6 5.55228 6 5C6 4.44772 5.55228 4 5 4C4.44772 4 4 4.44772 4 5C4 5.55228 4.44772 6 5 6Z"
                  fill="#64748B" />
              </svg>

              License: <span>MIT</span></a>
          </li>
          <li>
            <a class="flex items-center gap-x-1" href="##">
              <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M17.7071 9.29289C18.0976 9.68342 18.0976 10.3166 17.7071 10.7071L10.7071 17.7071C10.3166 18.0976 9.68342 18.0976 9.29289 17.7071L2.29289 10.7071C2.0976 10.5118 1.99997 10.2558 2 9.99988V5C2 3.34315 3.34315 2 5 2H10.0003C10.2561 2.00007 10.5119 2.0977 10.7071 2.29289L17.7071 9.29289ZM5 6C5.55228 6 6 5.55228 6 5C6 4.44772 5.55228 4 5 4C4.44772 4 4 4.44772 4 5C4 5.55228 4.44772 6 5 6Z"
                  fill="#64748B" />
              </svg>

              Category: <span>Admin & Dashboard</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>